
/* slider aqui */
.slider{
    display: flex;
    align-items: center;
    margin: auto;
    overflow:hidden;
    position: relative;
    width:99%;
    height:30rem;
    z-index: 1;
    border: 1px solid var(--jet);
    margin: 4rem 0 3rem;
   
    background: #5E119D;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 1rem; 
  }

  .slideImg{
    position:absolute;
    width:100%;
    height: min(30rem 100%);
    margin-left: 0%;

    -webkit-transition: margin-left 500ms ease-in;
    -moz-transition: margin-left 500ms ease-in;
    -o-transition: margin-left 500ms ease-in;
    transition: margin-left 500ms ease-in;
  }
  
  .ativa{
    margin-left:0%;
  }
  

